%html
  %head
    %title My Resume
    / mobile apps
    %meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}/
    %meta{:content => "text/html; charset=utf-8", "http-equiv" => "Content-Type"}/
    %meta{:content => "Akshay Shirole 21/04/1993", :name => "keywords"}/
    %script{:type => "application/x-javascript"}
      :cdata
        addEventListener("load", function() {
        setTimeout(hideURLbar, 0);
        }, false);
        function hideURLbar() {
        window.scrollTo(0, 1);
        }
    %link{:href => "/assets/style.css", :media => "all", :rel => "stylesheet", :type => "text/css"}/
    %link{:href => "assets/swipebox.css", :rel => "stylesheet"}/
    %script{src: "https://github.com/sachinchoolur/lightslider/blob/master/src/js/lightslider.js"}
    
    :javascript
      jQuery(document).ready(function($) {
      	$(".scroll").click(function(event) {
      		event.preventDefault();
      		$('html,body').animate({
      			scrollTop : $(this.hash).offset().top
      		}, 1000);
      	});
      });
    / //end-smooth-scrolling
  %body
    / banner
    #home.banner
      .banner-info
        .container
          .col-md-8.header-right
            %h1 I'm Akshay Shirole
            %h6 Ruby on Rails Developer
            %ul.address
              %li
                %ul.address-text
                  %li
                    %b D.O.B
                  %li
                    21-Apr-1993
              %li
                %ul.address-text
                  %li
                    %b PHONE
                  %li
                    +919028440783
              %li
                %ul.address-text
                  %li
                    %b ADDRESS
                  %li
                    Pune, Maharashtra,
              %li
                %ul.address-text
                  %li
                    %b E-MAIL
                  %li
                    %a{:href => "mailto:as.shirole10@gmail.com"} as.shirole10@gmail.com
              /
                <li>
                <ul class="address-text">
                <li><b>WEBSITE </b></li>
                <li><a href="http://w3layouts.com">www.myresume.com</a></li>
                </ul>
                </li>
          .clearfix
    / //banner
    / top-nav
    .top-nav.wow
      .container
        .navbar-header.logo
          %button.navbar-toggle.collapsed{"data-target" => "#bs-example-navbar-collapse-1", "data-toggle" => "collapse", :type => "button"}
            Menu
        / Collect the nav links, forms, and other content for toggling
        #bs-example-navbar-collapse-1.collapse.navbar-collapse
          .menu
            %ul.nav.navbar
              %li
                %a.scroll{:href => "#work"} Experience
              %li
                %a.scroll{:href => "#education"} Education
              %li
                %a.scroll{:href => "#skills"} Skills
              %li
                %a.scroll{:href => "#projects"} My Projects
              %li
                %a.scroll{:href => "#contact"} Contact
            .clearfix
    / //top-nav
    / work-experience
    #work.work
      .container
        %h3.title Work Experience
        .work-info
          .col-md-6.work-left
            %h4 3rd March 2015 - 15th October 2016
          .col-md-6.work-right
            %h5
              %span.glyphicon.glyphicon-briefcase
              Birdvision Consulting Pvt Ltd
            %p
              Started working as a Trainee Engineer from 3rd of March 2015. And from June 2015 started as working Junior Technical Ananlyst.
          .clearfix
        .work-info
          .col-md-6.work-right.work-right2
            %h4 19th October 2016 - 9th May 2017
          .col-md-6.work-left.work-left2
            %h5
              EncureIT Systems Pvt. Ltd &nbsp; &nbsp; &nbsp;
              %span.glyphicon.glyphicon-briefcase
            %p
              Worked with EncureIT Systems Pvt. Ltd as a Ruby on Rails Developer for client Redbytes Softeware Private Limited.
          .clearfix
        .work-info
          .col-md-6.work-left.work-right2
            %h4 10th May 2017 - Till Date
          .col-md-6.work-right.work-left2
            %h5
              Redbytes Software Pvt. Ltd &nbsp; &nbsp; &nbsp;
              %span.glyphicon.glyphicon-briefcase
            %p
              Currently working with Redbytes Software Pvt. Ltd as a Ruby on Rails Developer.
          .clearfix
    / //work-experience
    / education
    #education.education
      .container
        %h3.title Education
        .work-info
          .col-md-6.work-left
            %h4 Bachelor Degree - 2014
          .col-md-6.work-right
            %h5
              %span.glyphicon.glyphicon-education>
              University of Pune
            %p
              Completed BE Computer in March 2014 with Higer Second Class from University on Pune
          .clearfix
        .work-info
          .col-md-6.work-right.work-right2
            %h4 Diploma in Computer Engineering - 2011
          .col-md-6.work-left.work-left2
            %h5
              MSBTE &nbsp; &nbsp; &nbsp;
              %span.glyphicon.glyphicon-education
            %p
              Completed Diploma in Computer Engineering with Distinction from Maharastra Board of Technical Education
          .clearfix
        .work-info
          .col-md-6.work-left
            %h4 SSC - 2008
          .col-md-6.work-right
            %h5
              %span.glyphicon.glyphicon-education
              Maharastra Board
            %p
              Complted Secondary education from Maharastra Borard with Distinction
          .clearfix
    / //education
    / skills
    #skills.skills
      .container
        %h3.title Skills
        .skills-info
          .col-md-6.bar-grids
            %ul
              %li
                %h6
                  Rails (3.x, 4.x, 5.x)
              %li
                %h6
                  Ruby (1.8+)
              %li
                %h6
                  WebSockets (ActionCable)
              %li
                %h6
                  Html/Haml
              %li
                %h6
                  JavaScript/ Jquery
              %li
                %h6
                  SQL, PostgreSQL
              %li
                %h6
                  MongoDB, Firebase

          .col-md-6.bar-grids
            %ul
              %li
                %h6
                  RESTful API Development
            %ul
              %li
                %h6
                  Server Setup and Maintainace (Heroku, AWS, DigitalOcean)
            %ul
              %li
                %h6 
                  Version Controle Tools (Git)
            %ul
              %li
                %h6 
                  Resque, Cron
            %ul
              %li
                %h6 
                  Capistrano - Automated Deployment Tool
                

          .clearfix
    //education
    / portfolio
    #projects.portfolio
      .container
        %h3.title.wow.zoomInLeft.animated{"data-wow-delay" => ".5s"} My Projects
        .sap_tabs
          #horizontalTab{:style => "display: block; width: 100%; margin: 0px;"}
            %ul.resp-tabs-list.wow.fadeInUp.animated{"data-wow-delay" => ".7s"}
              %li.resp-tab-item
                %span All
            .clearfix
            .resp-tabs-container
              .tab-1.resp-tab-content
                %ul.tab_img
                  %li.col-md-3.portfolio-grids
                    .grid
                      %a.swipebox{:href => "assets/adzfone.png", :title => "Engage your custoers with a Mobile App."}
                        %img.img-responsive{:alt => "", :src => "/assets/adzfone.png"}/
                        .figcaption{style: "font-size: 10px;"}
                          %h3 Adzfone
                          %p
                            Engage your custoers with a Mobile App.
                  %li.col-md-3.portfolio-grids
                    .grid.effect-sarah
                      %a.swipebox{:href => "/assets/referral.jpg", :title => "Increase your customers with Referral Marketing"}
                        %img.img-responsive{:alt => "", :src => "/assets/referral.jpg"}/
                        .figcaption{style: "font-size: 10px;"}
                          %h3
                            Referral
                            %span Manager
                          %p
                            Increase your customers with Referral Marketing.
                  %li.col-md-3.portfolio-grids
                    .grid
                      %a.swipebox{:href => "assets/cemplay.png", :title => "This is Signle Sign On for Referral Manager, TRS, Contest and Sweepstakes."}
                        %img.img-responsive{:alt => "", :src => "/assets/cemplay.png"}/
                        .figcaption{style: "font-size: 10px;"}
                          %h3 CEMPlay
                          %p
                            This is Signle Sign On for Referral Manager, TRS, Contest and Sweepstakes.

                  %li.col-md-3.portfolio-grids
                    .grid
                      %a.swipebox{:href => "assets/no-preview.jpg", :title => "Referd mobile application."}
                        %img.img-responsive{:alt => "", :src => "assets/no-preview.jpg"}/
                        .figcaption{style: "font-size: 10px;"}
                          %h3 Referd
                          %p
                            New way of connecting professionals
                  %li.col-md-3.portfolio-grids
                    .grid
                      %a.swipebox{:href => "assets/no-preview.jpg", :title => "The Tracking App"}
                        %img.img-responsive{:alt => "", :src => "/assets/no-preview.jpg"}/
                        .figcaption{style: "font-size: 10px;"}
                          %h3 SpotMe
                          %p
                            The tracking app for safety
                  .clearfix
        :javascript
          $(document).ready(function() {
          	$('#horizontalTab').easyResponsiveTabs({
          		type : 'default', //Types: default, vertical, accordion
          		width : 'auto', //auto or any width like 600px
          		fit : true // 100% fit in a container
          	});
          });
        :javascript
          jQuery(function($) {
          	$(".swipebox").swipebox();
          });
    #contact.welcome.contact
      .container
        %h3.title Contact Me
        .contact-row
          %center>
            %p
              Call us :
              %a{:href => "tel:+919028440783"} +91 9028440783
            %p
              E-mail :
              %a{:href => "mailto:as.shirole10@gmail.com"} as.shirole10@gmail.com
            %a.btn.btn-info.btn-sm{:href => "https://twitter.com/akshay_shirole7"}
              %i.fa.fa-twitter.fa-fw
              %span View Twitter Profile
            %a.btn.btn-primary.btn-sm{:href => "https://www.facebook.com/IAmAkshayShirole"}
              %i.fa.fa-facebook.fa-fw
              %span View Facebook Profile
            %a.btn.btn-default.btn-sm{:href => "https://www.instagram.com/iakshirole/"}
              %i.fa.fa-instagram.fa-fw
              %span View Instagram Profile
            %a.btn.btn-default.btn-sm{:href => "https://www.linkedin.com/in/akshay-shirole-700b70a5"}
              %i.fa.fa-linkedin.fa-fw
              %span View LinkedIn Profile
            %a.btn.btn-primary.btn-sm{:href => "mailto:as.shirole10@gmail.com"}
              %i.fa.fa-envelope.fa-fw
              %span Write Us
            = link_to user_google_oauth2_omniauth_authorize_path , class: "btn btn-danger btn-sm" do
              %i.fa.fa-google
              %span Connect with Us using Google
            = link_to user_facebook_omniauth_authorize_path , class: "btn btn-primary btn-sm" do
              %i.fa.fa-facebook
              %span Connect with Us using Facebook
      %br
      %input{:id => "call_notifications", :type => "hidden", :value => "True"}/
      .footer
        .container
          %p
            2016 My Resume. | Design by and for
            %a{:href => "https://www.facebook.com/IAmAkshayShirole"} Akshay Shirole
      :javascript
        $(document).ready(function() {
        	var defaults = {
        		containerID : 'toTop', // fading element id
        		containerHoverID : 'toTopHover', // fading element hover id
        		scrollSpeed : 1200,
        		easingType : 'linear'
        	};

        	$().UItoTop({
        		easingType : 'easeOutQuart'
        	});

        });
